---
layout: default
title: Suikki - Blog
---

<div id="home">
	<h2>Blog Posts</h2>

	<ul class="post_list">
	{% for post in site.posts %}
		{% if post.author %}
			{% assign author = site.data.authors[post.author] %}
		{% else %}
			{% assign author = site.owner %}
		{% endif %}

		<li>
			<a class="post_list_title" href="{{ post.url }}">{{ post.title }}</a>
			<span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
			<span class="author_nick">{{ author.nick }}</span>
			<ul class="post_tags">
				{% for tag in post.tags %}<li><a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged with #{{ tag }}">#{{ tag }}</a></li>{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>
